body {
     background-image: url("post.jpg");
     background-size: cover;
     font-weight: bold;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    align-items: center;
    height: 50px;
    width: 150px;
    background-color: green;
}